@page
@model Autism.Pages.resourceAttachment_scafold.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResourceAttachment[0].FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourceAttachment[0].FilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourceAttachment[0].FileSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourceAttachment[0].DateUpLoad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourceAttachment[0].Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourceAttachment[0].Resource)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ResourceAttachment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpLoad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resource.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
