@page
@model Autism.Pages.NewFolder.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BlogPost[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogPost[0].Publised)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogPost[0].CreatedAtdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogPost[0].UpdatedAtdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogPost[0].PublisedAtdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogPost[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogPost[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogPost[0].Parent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BlogPost) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publised)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAtdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAtdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublisedAtdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent.Title)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
