@page
@model Autism.Pages.public_scafold.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Publication</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publication.Ebooks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publication.Ebooks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publication.Books)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publication.Books)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publication.PublicationNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publication.PublicationNavigation.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Publication?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
