@page
@model Autism.Pages.public_scafold.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Publication[0].Ebooks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publication[0].Books)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publication[0].PublicationNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Publication) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ebooks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Books)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationNavigation.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
